@import "https://fonts.googleapis.com/css?family=Roboto";
html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#navigation {
  /*text-align: center;*/
  font-size: .9rem;
  line-height: 1.7rem;
  padding: .2rem; }

#navigation ul {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  /*text-decoration: none;*/
  list-style: none; }

.nav-item {
  color: #b69853; }

#navigation li {
  display: inline-block; }

a {
  text-decoration: none;
  color: #222; }

#navigation ul > *:not(:first-child) {
  margin-left: 1.7rem; }

.list {
  list-style: none;
  padding: 3.2rem 3.2rem 0 3.2rem; }

.list > li {
  margin: 0 0 5.12rem 0; }

article > p {
  color: #9ca3ad;
  padding: 1.28rem 0; }

h3 {
  font-size: 1.95rem;
  text-decoration: none; }

#title-container {
  text-align: center;
  padding: 3.2rem 3.2rem 0 3.2rem; }

#title-container > h1 {
  font-size: 3.8rem;
  line-height: 1; }

.reviews {
  list-style: none;
  padding: 0; }
  .reviews p {
    color: #9ca3ad; }
  .reviews .review-title {
    text-decoration: none;
    opacity: 0.9;
    color: black; }

.element {
  padding: 3.2rem 3.2rem 0 3.2rem; }
  .element span {
    color: #9ca3ad; }
  .element form {
    padding-top: 5rem; }

/*# sourceMappingURL=styles.css.map */
